/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Styles */
body {
  font-family: 'Baloo 2', sans-serif;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333; 
  margin-top: 20px;
}

/* Game Info Section */
#game-info {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

/* Player Section */
.player-section {
  margin-bottom: 20px;
  padding: 10px;
}

.player-section h4 {
  margin-top: 0;
  color: white;
}

.player-section p {
  margin-top: 0;
  color: white;
}

.player-section .active {
  margin-bottom: 20px;
  border-radius: 8px; 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), /* Soft glow */
              0 0 25px rgba(255, 255, 255, 0.4);
  padding: 10px;
  background-color: #fffbbe; /* Highlight active player */
}

.player-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

/* Game Direction Indicator */
#game-direction {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.7s 1s linear both;
  animation: rotate-scale-up 0.7s linear both;
}

/* Card Styles */
.active-card, .inactive-card {
  width: 60px;
  margin: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Hover effect for active cards */
.player-cards-container .active-card:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* Card Section Layout */
#card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#top-card-section, #draw-pile-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-card-section img,
#draw-pile-section img {
  width: 80px;
  height: 120px;
}

.draw-pile-card {
  cursor: pointer;
}

.draw-pile-card:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Action Buttons */
#actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

#change-players-btn {
  display: none;
}

/* Played Card Animation */
.played-card {
  position: absolute; /* Allow card to move */
  animation: moveToTopCardStack 0.6s ease-out forwards;
}

.wrong-card {
  animation: shake 0.5s ease-in-out; /* Shake animation for invalid moves */
}

/* New Card Animation */
.new-card {
  width: 60px;
  margin: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute; /* Allow card to move */
  top: 0;
  left: 0;
  /* animation properties */
  transition: transform 0.6s ease, top 0.6s ease, left 0.6s ease;
  /* card flies over the element */
  z-index: 1000;
}

/* Modal Styling */
.modal-header {
  background: linear-gradient(45deg, #ff9800, #f44336);
  color: #ffffff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: auto;
}

.modal-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
}

/* Close Button */
.btn-close {
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-close:hover {
  background-color: #ff5722;
  transform: scale(1.1);
}

/* Help Section */
#help-button-container-before {
  margin-top: 10px;
  text-align: center;
}

#help-button,
#help-button-game {
  font-size: 14px;
  padding: 8px 12px;
}

#game-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#game-controls button {
  font-size: 14px;
  padding: 8px 12px;
}


.modal-content {
  background-color: #1d0c06; 
  color: #ffffff; 
  border-radius: 1rem;
  padding: auto;
}

.modal-body {
  font-family: 'Baloo 2', sans-serif;
  padding: auto;
}

/* Help Modal Content */
.help-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "object setup play"
    "cards cards scoring";
  gap: 1.5rem;
  padding: 1rem;
}

.help-section {
  padding: 1rem;
  background: linear-gradient(145deg, #ffffff, #f3f3f3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-section:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.help-section h6 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.help-section h6::before {
  margin-right: 0.5rem;
}

.help-section p {
  color: #ffffff; 
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
  line-height: 1.6; 
}

.help-section ul {
  font-size: 1.1rem;
  margin: 0;
  text-align: left;
  padding-left: 0;
  list-style-type: none;
}

.help-section ul li {
  padding: 1rem; 
  border-radius: 1rem; 
  margin-bottom: 0.75rem; 
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.2s ease, box-shadow 0.2s ease; 
  color: #ffffff;
}
.help-section p:hover,
.help-section ul li:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
}

.help-section ul li strong {
  font-weight: bold;
  color: #ffffff;
}
#help-specialList li{
  background: #6a1b9a;
}

#help-specialList li::before {
  content: "⭐ ";
  color: #ff9800;
}

.card-types img {
  width: 2.2rem;
  height: auto;
  margin-right: 0.8rem;
  border-radius: 0.5rem;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}

.card-types img:hover {
  transform: scale(1.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#object {
  background: linear-gradient(145deg, #ff4c4c, #cc0000); color: #ffffff; 
  grid-area: object; 
}

#setup {
  background: linear-gradient(145deg, #4caf50, #388e3c); color: #ffffff; 
  grid-area: setup; 
}

#play {
  background: linear-gradient(145deg, #ffca28, #fbc02d); color: #ffffff; 
  grid-area: play; 
}

#cards {
  background: linear-gradient(145deg, #1e88e5, #1565c0); color: #ffffff; 
  grid-area: cards; 
}

#scoring {
  background: linear-gradient(145deg, #8e24aa, #6a1b9a); color: #ffffff;
  grid-area: scoring; 
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Responsive Grid for Smaller Screens */
@media (max-width: 768px) {
  .help-container {
    grid-template-columns: 1fr; /* Single column on small screens */
    grid-template-areas:
      "object"
      "setup"
      "play"
      "cards"
      "scoring";
    gap: 1rem;
  }

  .help-section h6 {
    font-size: 1.6rem; /* Smaller font size for compact view */
  }
 
  .card-types img {
    width: 2.5rem; /* Resize images for better fit on smaller screens */
  }
}

/* END GAME  */
#newRoundButton{
  background-color: #fa7019;
  border: none;
  font-size: 14px;
  padding: 8px 12px;
  font-weight: bold;
}

#start-game,
#start-game-new,
#resetGameButton{
  background-color: #ff4c4c;
  border: none;
  font-size: 14px;
  padding: 8px 12px;
  font-weight: bold;
}

#message {
  font-weight: bold;
}

#winnerName {
  font-size: 3rem;
  font-weight: bold; 
  color: #28a745; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); 
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

#winnerScore {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #fa7019; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  text-align: center;
  margin-top: 20px;
}

/* ---------- keyframes for css animations */

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }

  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

/* move played card to top card stack */
@keyframes moveToTopCardStack {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(var(--move-x), var(--move-y));
  }
}

/* wrong-card */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

#uno-cards {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; 
  z-index: 1040;
  pointer-events: none;
}

.uno-card {
  position: absolute;
  left: 50%;
  width: 64px; 
  height: 96px;
  background-size: cover;
  background-repeat: no-repeat;
  transform-origin: left top;
  animation: uno-card-fall 5s ease-in-out -2s infinite;
}

/* UNO Card Animation */
@keyframes uno-card-fall {
  0% {
      transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
      transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
      transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
      transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
      transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

/* Various positions and delays */
.uno-card:nth-child(1) {
  left: 10%;
  animation-delay: 0;
}

.uno-card:nth-child(2) {
  left: 20%;
  animation-delay: -5s;
}

.uno-card:nth-child(3) {
  left: 30%;
  animation-delay: -3s;
}

.uno-card:nth-child(4) {
  left: 40%;
  animation-delay: -2.5s;
}

.uno-card:nth-child(5) {
  left: 50%;
  animation-delay: -4s;
}

.uno-card:nth-child(6) {
  left: 60%;
  animation-delay: -6s;
}

.uno-card:nth-child(7) {
  left: 70%;
  animation-delay: -1.5s;
}

.uno-card:nth-child(8) {
  left: 80%;
  animation-delay: -2s;
}

.uno-card:nth-child(9) {
  left: 90%;
  animation-delay: -3.5s;
}

.uno-card:nth-child(10) {
  left: 100%;
  animation-delay: -2.5s;
}

/* End UNO card animation  */
