body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
  margin-top: 20px;
}

#game-info {
  display: none;
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
}

.player-section {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.player-section h4 {
  margin-top: 0;
}

.player-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.card {
  width: 60px;
  margin: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.player-cards-container .card:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#top-card-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}